  <html>
    <head>
      <!--Import Google Icon Font-->
      <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"%>
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Crete+Round'%>
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans' %>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="main-white">
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to "English", lessons_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Math", lessons_path %></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
          <li><%= link_to "Tutee Profiles", tutees_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Progress Reports", tprs_path %></li>
        </ul>
        <ul id="dropdown3" class="dropdown-content">
          <li><%= link_to "Administrator", members_path(:arm=>"Admin") %></li>
          <li class="divider"></li>
          <li><%= link_to "Data Analysis Team", members_path(:arm=>"Data Analysis") %></li>
          <li class="divider"></li>
          <li><%= link_to "Modules Team", members_path(:arm=>"Modules") %></li>
          <li class="divider"></li>
          <li><%= link_to "Tutors", members_path(:arm=>"Tutors") %></li>
        </ul>
        <ul id="dropdown4" class="dropdown-content">
          <li><a href="#!">A</a></li>
          <li class="divider"></li>
          <li><a href="#!">B</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper main-white">            
            <ul id="nav-mobile" class="left hide-on-med-and-down open-sans">
              <li><img class="main-green"src="images/gabay-tbs-logo-white.png" height="64"></li>
              <li><a class="dropdown-button main-green-text"  data-activates="dropdown1" data-beloworigin="true"><font size="4">&nbsp;Modules</font><i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="#" class="main-green-text"><font size="4">&nbsp;Evaluations&nbsp;</font></a></li>
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown2" data-beloworigin="true"><font size="4">&nbsp;Tutees</font><i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown3" data-beloworigin="true"><font size="4">&nbsp;Members</font><i class="material-icons right">arrow_drop_down</i></i></a></li>
              <li><a href="#" class="main-green-text"><font size="4">&nbsp;Export&nbsp;</font></a></li>              
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown4" data-beloworigin="true"><font size="4">&nbsp;[Admin] Jakey Fausto</font><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul> 
          </div>
        </nav>

         <div class="col s12">
          <center>
          <br>
          <br>
          <a class="main-green-text crete-round"><font size="6">Tutee Profile</font></a>          
          <br>
          <img src="images/line2.png" height="55">
          <br>
          </center>
        </div>
<%= simple_form_for @tutee do |f| %>
 <div class="row">
  <div class="container">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s3">
          <%= f.input :first_name %>
        </div>
        <div class="input-field col s3">
          <%= f.input :last_name %>
        </div>
        <div class="input-field col s3">
          <%= f.input :father_name %>
        </div>
        <div class="input-field col s3">
          <%= f.input :father_occupation %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.input :school %>
        </div>
          
          <div class="input-field col s3">
          <%= f.input :mother_name %>
        </div>
        <div class="input-field col s3">
          <%= f.input :mother_occupation %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3">
<%= f.input :group_no %>
    </div>
        <div class="input-field col s6 offset-s3">
	<%= f.input :ambition %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          	<%= f.input :math_grade %>
        </div>
        <div class="input-field col s3">
          <%= f.input :eng_grade %>
        </div>
        <div class="input-field col s3 ">
          <%= f.input :fav_subject %>
        </div>
        <div class="input-field col s3">
          <%= f.input :fav_color %>
        </div>
      </div>

      <div class="row">
      </div>
      
      <div class="row">
                  <div class="col s12 offset-s8">
                      	<span><%= f.submit :Save, class: 'btn btn-main-green' %></span>
                    <div class="btn btn-main-green">
                      <span>Cancel</span>
                    </div> 
                  </div>                 
                </div>  
 <% end %>     


      
    </form>
    </div>
  </div>
    </body>
  </html>