
  <html>
    <head>
       <!--Import Google Icon Font-->
      <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"%>
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Crete+Round'%>
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans' %>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
     <body class="main-white">
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to "English", lessons_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Math", lessons_path %></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
          <li><%= link_to "Tutee Profiles", tutees_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Progress Reports", tprs_path %></li>
        </ul>
        <ul id="dropdown3" class="dropdown-content">
          <li><%= link_to "Administrator", members_path(:arm=>"Admin") %></li>
          <li class="divider"></li>
          <li><%= link_to "Data Analysis Team", members_path(:arm=>"Data Analysis") %></li>
          <li class="divider"></li>
          <li><%= link_to "Modules Team", members_path(:arm=>"Modules") %></li>
          <li class="divider"></li>
          <li><%= link_to "Tutors", members_path(:arm=>"Tutors") %></li>
        </ul>
        <ul id="dropdown4" class="dropdown-content">
          <li><a href="#!">A</a></li>
          <li class="divider"></li>
          <li><a href="#!">B</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper main-white">            
            <ul id="nav-mobile" class="left hide-on-med-and-down open-sans">
              <li><%= image_tag("gabay-tbs-logo-white.png", height: '64', class: 'main-green')%></li>
              <li><a class="dropdown-button main-green-text"  data-activates="dropdown1" data-beloworigin="true"><font size="4">&nbsp;Modules</font><i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="#" class="main-green-text"><font size="4">&nbsp;Evaluations&nbsp;</font></a></li>
              <li><a class="dropdown-button main-green-text"  data-activates="dropdown2" data-beloworigin="true"><font size="4">&nbsp;Tutees</font><i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button main-green-text" data-activates="dropdown3" data-beloworigin="true"><font size="4">&nbsp;Members</font><i class="material-icons right">arrow_drop_down</i></i></a></li>
              <li><a  class="main-green-text"><font size="4">&nbsp;Export&nbsp;</font></a></li>              
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown4" data-beloworigin="true"><font size="4">&nbsp;[Admin] Jakey Fausto</font><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul> 
          </div>
        </nav>

        <div class="col s12">
          <center>
          <br>
          <br>
           <a class="main-green-text crete-round"><font size="6">Members</font></a>            
         
          </center>

  
    <a class='dropdown-button btn btn-main-green' "waves-effect waves-light btn open-sans" href='#' data-activates='dropdown5'>Sort by:</a>

  
  <ul id='dropdown5' class='dropdown-content'>
    <li><a href="#!">Last Name</a></li>
    <li class="divider"></li>
    <li><a href="#!">Committee</a></li>
  </ul>

  <a class='dropdown-button btn btn-main-green' href='#' data-activates='dropdown6'>Filter by:</a>

  
  <ul id='dropdown6' class='dropdown-content'>
    <li><a href="#!">Last Name</a></li>
    <li class="divider"></li>
    <li><a href="#!">Committee</a></li>
  </ul> 
  
      <center><a class="waves-effect waves-light btn btn-main-green open-sans">Create Account</a>
          <br>
          <br>
      </center>
        </div>


        <!--table--> 
        <div>
           <table class="bordered">
              <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="committee">Committee</th>
                    <th data-field="number">Contact number</th>
                    <th data-field="address">Email Address</th>
                    <th data-field="actions"><center>Actions</center></th>
                </tr>
              </thead>
              <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td><%= member.first_name %> <%= member.last_name %></td>
                  <td><%= member.arm %> Team</td>
                  <td><%= member.contact_no %></td>
                  <td><%= member.email_address %></td>
                  <td>
                    <center>
                    <a><%= link_to "View", member_path(member), class: "waves-effect waves-light btn btn-main-green" %></a>
                    <a class="waves-effect waves-light btn btn-main-green">Update</a>
                    <a class="waves-effect waves-light btn btn-main-green">Delete</a>
                    <a class="waves-effect waves-light btn btn-main-green">Evaluations</a>
                    </center>
                  </td>
                </tr>
              <% end %>  
              </tbody>
            </table>
          </div>
         

         <center>
          <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
      <li class="btn-main-green active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
      </ul>
        </center>
    </body>
  </html>